
* {
    box-sizing: border-box;
}

body {
    background-color: #2C3E50;
    font-family: Arial, sans-serif;
    /*color: #fff;*/
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.buttons {
    /*text-align: center;*/
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    position: relative;
    text-align: center;
    display: block;
    width: 200px;
    text-transform: uppercase;
    padding: 7px 40px;
    margin: 0 25px 20px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    transition: .5s all ease;
    overflow: hidden;
    z-index: 999;
}

.button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .5s all ease;
}

.button::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: -300%;
    opacity: 1;
    transition: .5s all ease;
}


.button:hover {
    background-color: #fff;
    border-color: #2C3E50;
    color: #2C3E50;
    font-weight: 700;
    /*animation: drop 1s linear infinite;*/
}


.button:hover::before {
    left: 0;
}

@keyframes drop {
    0% {
        transform: translateY(-1px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-1px);
    }
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.wrapper {
    /*width: 1170px;*/
    margin: 0 auto;
    padding: 40px 0;
    background-color: #fff;
}

.title, .wrapper {
    justify-content: space-around;
}

.title {
    border-bottom: 1px solid #cccccc;
    display: flex;

}

.form {
    width: 100%;
}

.sender, #messages {
    width: 47%;
    padding: 20px;
    border: 1px solid #cccccc;
}

#messages {
    height: 700px;
    overflow: scroll;
}

.form label, .form input, .form textarea {
    margin: 15px 0;
    padding: 10px;
    width: 100%;
}

.form label, .form input {
    text-transform: uppercase;
}

.caption {
    text-transform: uppercase;
}


.mess {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.date, .autor {
    width: 100%;
}

.date {
    text-align: right;
}

.error {
    background-color: #ffcb63;
}


/*******************************   ПРЕЛОАДЕР **********************************/

